
.table {
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  margin-bottom: 0;
}
.table thead th {
  border: 1px solid #c5c3c2;
  background: #1a245e;
  /* background-color: #2d4e74; */
  font-weight: 500;
  font-size: 13px ;
  border-width: 1px ;
  color: #fff;
  vertical-align: top;
  /* text-transform: uppercase; */
}
.table tbody th,.table td {
  font-weight: 500;
  font-size: 12px;
}

.table td,
.table th {
  vertical-align: top;
  border: 1px solid #c5c3c2;
  padding: 0.2rem 0.5rem;
  color: #1f1a23;
}
