
<div class="container">
  <div class="col-md-12 mt-5">
    <div class="d-flex mb-2">
        <div class="d-flex justify-content-start">
            <h5 class="mb-0 headers">My Bookings</h5>
        </div>
    </div>
  </div>
</div>



<div class="container ">
  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>
  <div class="card">
      <div class="card-body">

        <div class="row">
          <div class="col-12">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>SrNo</th>
                  <th>Booking ID</th>
                  <th>Username</th>
                  <th>Email</th>
                  <th>Flight Number</th>
                  <th>From</th>
                  <th>To</th>
                  <th>Booking Date</th>
                  <th>Travelers</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let booking of bookings; let i=index;">
                  <td>{{i+1}}</td>
                  <td>{{booking.bookingId}}</td>
                  <td>{{booking.userName}}</td>
                  <td>{{booking.email}}</td>
                  <td>{{booking.flightNumber}}</td>
                  <td>{{booking.toCity}}</td>
                  <td>{{booking.fromCity}}</td>
                  <td>{{booking.bookingDate | date:'dd-MM-yyyy'}}</td>
                  <td>
                    <ul>
                      <li *ngFor="let traveler of travelers">
                        {{ traveler.travelerName }} - Seat No: {{ traveler.seatNo }}
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
              </table>
              </div>
              </div>
          </div>
          </div>
          </div>
